*{
    margin: 0;
    padding: 0;
 }
 header{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    background-color: white;
    border-bottom: solid;
    padding: 0.5rem 1rem; 
  }
 header > img{
    height: 20px; 
    width: auto; 
 }
 nav{
    display: flex;
    flex-direction: row;
    flex: 1; 
 }
 nav a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
 }
 nav  a:hover{
    border-bottom: 2px solid black;
    transition: border-bottom 0.4s ease-in;
 }

  .right {
 text-align: right;
 float: right;
  }
  .mar {
   margin: 0;
  }
  .bg{
   background-color: ;
  }

  

  